.header{
    background-color: blue;
    color: white;

    .title{

        margin: 0;
        text-align: center;
        padding: 20px;

    }

    .header-list{
        display: flex;
        padding: 20px;
        justify-content: space-around;
        list-style: none;
    }

    .link{
        color: white;
        text-decoration: none;
    }
}

