* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: block;
    height: 30px;
    
}

.nav {
    display: flex;
    list-style: none;
    background-color: #252526; 
    align-items: center;
    height: 100%;
   
}

.nav li {
    color: white;
    padding: 0 5px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    margin: 0;
    width: auto;
}

.nav li:hover {
    background-color: gray;
}